<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
     <!-- Links para Google Fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
     <!-- Link para iconos -->
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles_formularios.css">
    <title>MercadoLiebre</title>

</head>
<body>
    <header>
        <section>
            <div class="main-header-top-bar">
                <a href='/'> <img src="images/logo-mercado-liebre.svg" alt="Logo de la empresa" class="ElLogito"></a>

                <form class="localizacion_barra"><input type="textarea" name="searchbar" id="searchbar"
                        placeholder="Buscar productos, marcas y más" /></form>
                    
                <h2 class="header_cuotas"> <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de
                    credito</h2>
            </div>
            <i class="fas fa-magnifying-glass"></i>

            <div>
                <!--Lugar para la barra de busqueda-->
            </div>
        </section>
        <nav class="botonera">
            <ul class="left-nav-bar">
                <li><a href=”#”>Ofertas</a></li>
                <li><a href=”#”>Tiendas Oficiales</a></li>
                <li><a href=”#”>Vender</a></li>
                <li><a href=”#”>Ayuda</a></li>
            </ul>

            <div>
                <br><!--aca arranca el menu de usuario --> 
            </div>

            <ul class="right-nav-bar">
                <li><a href='./register'>Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href='./login'>Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href=”#”>Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <main>

        <form action="/login" method="post" class="login-form">
				<div class="main_contenido">
					<input
						class="text-input" type="text" name="username"					placeholder="Ingrese su Usuario"/>
					<input
						class="text-input"	type="password"	name="password"
						placeholder="Ingresa tu contraseña"/>
					<button class="btn_Login" type="submit">Enviar</button>
				</div>
			</form>

    </main>

    <footer class="LoDeAbajo">
        <div class="elementos_footer">
            <div>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p class="descripcion">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p class="descripcion">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p class="descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.
                </p>
            </div>
        </div>
        <div class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>

</body>
</html>