* {
	box-sizing: border-box;
}

.main_contenido {
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: 2rem;
	margin-left: 5vw;
	text-align: left;
	font-size: 16px;
    padding-bottom: 3rem;
}

h2 {
	margin: 0;
	padding: 0;
}

.text-input {
	border: 0;
	border-radius: 5px;
	width: 100%;
	height: 3rem;
	padding-left: 10px;
}

.btnReset {
	width: 50%;
}

.login-form {
	padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.btn_Login{
	transition: background-color 0.4s;
}
.btn_Login:hover {
	background-color: #0022aa;
}

.login-footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}


.main_perfiles {
	display: flex;
	justify-content: space-around;
	font-size: 16px;
}
form button {
	height: 3rem;
	border-radius: 5px;
	text-align: center;
	background-color: #1259c3;
	width: 100%;
	color: white;
	
}

.buttons {
	display: flex;
	gap: 2vw;
	width: 100%;
}

.btnRegistrar {
	width: 50%;
}